{% load static %}
<link href="{% static 'styles/style.css'%}" rel="stylesheet">

<body>
<div class="mini-navbar" >
      <div class="mydropdown">
        <button class="mydropbtn">
              Women
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">

        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
              Men
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">

        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
              Children
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">

        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
          Clothes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
            {% for subcat in subcats%}
             <a href="{{ request.path }}?q={{subcat.name}}"> {{subcat}} </a>
            {%endfor%}

<!--               <a href="#">Activewear</a>-->
<!--               <a href="{{ request.path }}?q={{subcats.name}}">Cardigans </a>-->
<!--               <a href="#">Dresses</a>-->
<!--               <a href="#">Pants</a>-->
<!--               <a href="#">Shirts</a>-->
<!--               <a href="#">Shorts</a>-->
<!--               <a href="#">Skirts</a>-->
<!--               <a href="#"> Suits & Blazers </a>-->
<!--               <a href="#"> Sweaters </a>-->
<!--               <a href="#">T-Shirts</a>-->
<!--               <a href="#"> Tops </a>-->

        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
          Shoes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Boots</a>
          <a href="#">Flats</a>
          <a href="#">Heels</a>
          <a href="#">Loafers</a>
          <a href="#">Sandals</a>
          <a href="#">Sneakers</a>
        </div>
      </div>
       <div class="mydropdown">
        <button class="mydropbtn">
          Accessories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="test">
          <div class="mydropdown-content">
          <a class="element" href="#">Bags</a>
          <a class="element" href="#">Belts</a>
          <a class="element" href="#">Hats</a>
          <a class="element" href="#">Jewelry</a>
          <a class="element" href="#">Scarves</a>
          <a class="element" href="#">Sunglasses</a>
          <a class="element" href="#">Ties</a>
        </div>

        </div>

      </div>
        <div class="mydropdown">
        <button class="mydropbtn">
          Intimates
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Bras</a>
          <a href="#">Lingerie Sets</a>
          <a href="#">Panties</a>
          <a href="#">Shapewear</a>
          <a href="#">Sleepwear</a>
          <a href="#">Socks</a>
        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
          Coats
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Jackets</a>
          <a href="#">Vests</a>
          <a href="#">Winter Coat</a>
        </div>
      </div>
           <div class="mydropdown">
        <button class="mydropbtn">
          Sportswear
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Athletic Tops</a>
          <a href="#">Caps</a>
          <a href="#">Gym Shorts</a>
          <a href="#">Joggers</a>
          <a href="#">Sports Bras</a>
          <a href="#">Sports Jerseys</a>
          <a href="#">Tracksuit</a>
          <a href="#">Yoga Pants</a>
        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
          Swimwear
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Bikinis</a>
          <a href="#">Cover-Up</a>
          <a href="#">One-Piece</a>
          <a href="#">Swim Shorts</a>
          <a href="#">Trunks</a>
        </div>
      </div>
       <div class="mydropdown">
        <button class="mydropbtn">
          Outlet
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
         Sale
          <i class="fa fa-caret-down"></i>
        </button>

      </div>
    </div>

</body>