
<body>
<div class="mini-navbar">
      <div class="mydropdown">
        <button class="mydropbtn">
              Women
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">

        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
              Men
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">

        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
              Children
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">

        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
          Clothes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">

          <ul>
             <a href="#"> Tops</a>
            <li> g</li>
            <li> g</li>
            <li> g</li>
            <li> g</li>
          </ul>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
          Shoes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
       <div class="mydropdown">
        <button class="mydropbtn">
          Accessories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="test">
          <div class="mydropdown-content">
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>
          <a class="element" href="#">fdjkkf 1</a>


        </div>

        </div>

      </div>
        <div class="mydropdown">
        <button class="mydropbtn">
          Intimates
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
          Coats
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
           <div class="mydropdown">
        <button class="mydropbtn">
          Sportswear
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
          Swimwear
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
       <div class="mydropdown">
        <button class="mydropbtn">
          Outlet
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="mydropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="mydropdown">
        <button class="mydropbtn">
         Sale
          <i class="fa fa-caret-down"></i>
        </button>

      </div>
    </div>

</body>
