{% load static %}
 <script src="{% static 'js/script.js'%}"></script>
 <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="{% url 'home' %}">
                      <img width="200px" src="{%static 'images/logo.png'%}" alt="#" /></a>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                       <div class="search_form">
                   <form class="d-flex" role="search" style="width:100%;  margin-top:10px;" >
              <input name="q"
                class="form-control me-2"
                type="search"
                placeholder=" search"
                aria-label="Search"
              />
                   <button class="btn  my-2 my-sm-0 nav_search-btn"  type="submit" >

                           <i class="fa fa-search" aria-hidden="true"> </i></button>
                   </form>
               </div>
                     <ul class="navbar-nav">
                         {% if  request.user.is_authenticated%}
                         <li class="nav-item ">
                         <div style="display:flex; align-items: center; justify-content: center">
                             <a class="nav-link" href="{% url 'account' %}">
                             <img src="{{request.user.avatar.url }}" style="width:35px; height:35px; border-radius:50px; margin-right:10px"> {{request.user.username}}</a>
                         </div>
                            </li>
                          {% endif %}
                         <li class="nav-item active">
                           <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>

                        {% if not request.user.is_authenticated%}
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'product'%}">Products</a>
                        </li>
                          {%else%}
                         <li class="nav-item">
                           <a class="nav-link" href="{%url 'favourites' user.id %}">Favourites </a>
                        </li>
                         {% endif %}
                        <li class="nav-item">
                           <a class="nav-link" href="{%url 'contact' %}">Contact</a>
                        </li>
                         {% if not request.user.is_authenticated%}
                       <li class="nav-item ">
                           <a class="nav-link" href="{% url 'login' %}">  account</a>
                        </li>
                         {% endif %}

                         {% if request.user.is_authenticated %}
                   <li class="nav-item" >
                           <a  class="nav-link" href="{% url 'logout'  %}">Log Out</a>
                       </li>
                     {% endif %}

                     </ul>
                  </div>
               </nav>
            </div>

         </header>

    </div>
