/* FOOTER STYLE */
 .footer{
       display: flex;
       margin-top: 150px;
      justify-content: center; /* Center items horizontally */
      align-items: center; /* Center items vertically */
    }

/* NAVBAR STYLE */

    .navbar navbar-expand-lg bg-body-tertiary {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1000; /* Ensure it stays above other content */
    }
    .d-flex {
      margin-left: 50px;
      width: 50%;
      height: 60px;
      margin-right: 25px;
    }
    .form-control {
      border: 2px;

      border-style: solid;
      border-bottom-color: red;
      border-top-color: rgb(40, 8, 129);
    }
    .nav-item {
      display: flex;
      margin-top: 0px;
      line-height: 0px;
      padding: 4px;
    }

    .form-control:focus {
      outline: 1px solid rgb(75, 73, 73);
      box-shadow: none;
    }
    .container-fluid {
      background-color: rgb(236, 233, 226);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000; /* Ensure it stays above other content */
      height : 120px;
    }
    .search-button {
      border-style: none;
      background-color: rgba(236, 233, 226, 0.89);
    }

    /* CARDS STYLE*/
     .cards{
      display: flex;
       margin-top: 150px;
      justify-content: center; /* Center items horizontally */
      align-items: center; /* Center items vertically */


    }
    .card{
      margin-top: 100px;
      justify-content: center;
      align-items: center;
      margin-left: 30px;

    }
    .card-title {
      text-align: center;
    }
    /* MINI NAV BAR  */
            .mini-navbar {
      position: fixed;
      display: flex;
      overflow: hidden;
      background-color: white;
      font-family: Arial;
      margin-top: 104px;
      border-radius: 2px;
      justify-content: center; /* Center items horizontally */
      align-items: center; /* Center items vertically */
      width: 100%;
      padding: 10px ; /* Padding */
      z-index: 999; /* Slightly below the main navbar */
    }

    /* Links inside the navbar */
    .mini-navbar a {
      float: left;
      font-size: 16px;
      color: rgb(40, 8, 129);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;


    }

    /* The mydropdown container */
    .mydropdown {
      float: left;
      overflow: hidden;
    }

    /* mydropdown button */
    .mydropdown .mydropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: rgb(40, 8, 129);
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Add a red background color to navbar links on hover */
    .mini-navbar a:hover,
    .mydropdown:hover .mydropbtn {
      background-color: rgba(236, 233, 226, 0.89);
       border-radius: 4px;
    }

    /* mydropdown content (hidden by default) */
    .mydropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    /* Links inside the mydropdown */
    .mydropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    /* Add a grey background color to mydropdown links on hover */
    .mydropdown-content a:hover {
      background-color: #ddd;
      flex: 1; /* allows each column to grow equally */
      max-width: 40%;
      box-sizing: border-box; /* includes padding and border in the element's total width and height */
      text-align: center;
    }

    /* Show the mydropdown menu on hover */
    .mydropdown:hover .mydropdown-content {
      display: flex;
      flex-wrap: wrap;
      max-width: 35%;
      position: fixed;
    }