{% extends 'main.html'%}


{% block content %}
<style>
.product-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f9fa; /* Light gray background */
  border: 1px solid #dee2e6; /* Light border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Shadow for depth */
}

.product-image {
  flex: 0 0 200px; /* Fixed width for the image */
  margin-right: 20px;
  overflow: hidden; /* Hide overflow if image exceeds container */
  border: 1px solid #ced4da; /* Border for image */
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px; /* Rounded corners for image */
}

.product-details {
  flex: 1; /* Flexible width for the details section */
}

.product-details h2 {
  margin-top: 0; /* Remove default margin */
  font-size: 1.5em; /* Larger font size for product name */
}

.product-details p {
  margin-bottom: 10px; /* Add some spacing between paragraphs */
  line-height: 1.6; /* Increased line height for readability */
}

.card {
  width: 96%;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 23px rgba(0, 0, 0, 0.05), 0px 7px 7px rgba(0, 0, 0, 0.09), 0px 12px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 17px 17px 27px 27px;
  margin-left: 25px;
}

.title {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #f1f1f1;
  font-weight: 700;
  font-size: 13px;
  color: #47484b;
}

.title::after {
  content: '';
  width: 8ch;
  height: 1px;
  position: absolute;
  bottom: -1px;
  background-color: #47484b;
}

.comments {
  display: flex;
  padding: 20px;
   flex-wrap: nowrap; /* Prevent wrapping of content */
    white-space: nowrap; /* Prevent wrapping of text within the container */
}



.comment-container {
  display: flex;
  flex-direction: row
  gap: 15px;
  padding: 10;
  margin: 10;
  align-items: center;
  justify-content:center;
}

.comment-container .user {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px;
}

.comment-container .user .user-pic {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
}



.comment-container .user .user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
}

.comment-container .user .user-info span {
  font-weight: 700;
  font-size: 12px;
  color: #47484b;
}

.comment-container .user .user-info p {
  font-weight: 600;
  font-size: 10px;
  color: #acaeb4;
}
.comment-container {

}
.comment-container .comment-content {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #5f6064;

}
.comment-content {
border:solid rgba(0, 0, 0, 0.2);
border-width : 1px;
border-radius:10px;
padding: 10px 400px 10px 25px;
margin-left: 50px;
width: 80%
}
.text-box {
  width: 100%;
  height: fit-content;
  background-color: #f1f1f1;
  padding: 8px;
}

.text-box .box-container {
  background-color: #ffffff;
  border-radius: 8px 8px 21px 21px;
  padding: 8px;
}

.text-box textarea {
  width: 100%;
  height: 40px;
  resize: none;
  border: 0;
  border-radius: 6px;
  padding: 12px 12px 10px 12px;
  font-size: 13px;
  outline: none;
  caret-color: #0a84ff;
}

.text-box .formatting {
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
}

.text-box .formatting button {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.text-box .formatting button:hover {
  background-color: #f1f1f1;
}

.text-box .formatting .send {
  width: 30px;
  height: 30px;
  background-color: #0a84ff;
  margin: 0 0 0 auto;
}

.text-box .formatting .send:hover {
  background-color: #026eda;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
#button-del {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 1em;
 border: 0px solid transparent;
 background-color: rgb(219, 219, 219);
 border-radius: 1.25em;
 transition: all 0.2s linear;
opacity: 1; /* Ensure full visibility */
    visibility: visible;

}
a{
color:black;
}
#button-del:hover {
 box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
  8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
  17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
  36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
  99px 72px 143px rgba(0, 0, 0, 0.08);
  background-color:rgb(33,4,114);
}
a:hover{
 color:white;
}
.tooltip {
 position: relative;
 display: inline-block;
}





#sub{
margin-top:10px;
}
</style>



<div class="product-container">
  <div class="product-image">
    <img src="{{item.image.url }}" alt="Product Image">
  </div>
  <div class="product-details">
    <h2>{{item.name}}</h2>
      <hr>
    <p><strong>Colour:</strong> {{item.colour}}</p>
    <p><strong>Size:</strong> {{item.size}}</p>
    <p><strong>Price:</strong> {{item.price}}</p>
    <p><strong>Description:</strong> {{item.description}}</p>
       {% if request.user.is_authenticated %}
                               {% if item not in request.user.items.all %}
      <button id="sub" class="btn btn-secondary" style="background-color:rgb(17, 1, 59)">
           <a  href=" {% url 'adding' item.id %}" class="option2" style="text-decoration:none; color: white">
                           Add to favourites
                           </a>
      </button>

                             {% endif %}
                               {% endif %}
  </div>
</div>
<br>

<br>
    <div class="card">
  <span class="title">Comments:</span>
       <form METHOD="POST" action="">
      {% csrf_token %}
    {% if  request.user.is_authenticated%}
     <img src="{{user.avatar.url}}" style="width:35px; height:35px; border-radius:50px; margin-left: 15px">
    <input name="body" placeholder="your comment" style="margin: 20px;padding: 5px; border-radius:20px; width:50%;">
    {%endif%}
 {% for comment in comments%}
  <div class="comments">

    <div class="comment-container">
      <div class="user">
        <div class="user-pic">
          <img src="{{comment.user.avatar.url}}" style="width:35px; height:35px; border-radius:50px;">
        </div>
        <div class="user-info">
          <span>{{comment.user.username}}</span>
          <p>{{comment.created | timesince}} ago</p>
        </div>
      </div>
      <p class="comment-content">
       {{comment.body}}
      </p>
      {% if request.user == comment.user%}
                <button type="submit" class="tooltip" id="button-del" style="display:flex; flex-direction: row; margin-left: 20px">
                    <a id="del" href="{% url 'delete_comment' comment.id %}" style="text-decoration:none;"> Delete </a>

                </button>


            {% endif %}
    </div>

  </div>
         {%endfor%}
       </form>
    </div>


{% endblock %}