{% extends 'main.html'%}


{% block content %}
<style>
     .cards{

      margin-top: 110px;
      display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
<!--    padding: 10px;-->


    }
    .card{

 border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    padding-top:0px;
    padding-right:0px;
    text-align: center;
    box-sizing: border-box;
 }

</style>
<div class="cards">

  {% for item in items%}
  {% if request.user == item.creator %}
       <div class="card" style="width: 18rem;">
           <img src="{{item.image.url }}" class="card-img-top" alt="..." style="width: 17rem; height:250px;   object-fit: cover;">


  <div class="card-body">
    <h5 class="card-title" >{{item.name}}</h5>
    <p class="card-text">{{item.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{item.price}}</li>
    <li class="list-group-item">Size: {{item.size}} </li>
  </ul>
  <div class="card-body-2">

    <a href="{% url 'about'  item.id %}" class="card-link"> <button type="button" class="btn btn-primary" style="background-color: rgb(62, 22, 172) ; border: none;"> See More</button></a>
     {% if request.user == item.creator%}
      <a href="{% url 'delete_item' item.id %}" class="card-link"> <button type="button" class="btn btn-primary" style="background-color: rgb(62, 22, 172) ; border: none;"> Delete </button></a>
    {% endif %}
  </div>
       </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}