{% extends 'main.html'%}


{% block content %}
<style>
     .cards{

      margin-top: 10px;
      display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
<!--    padding: 10px;-->


    }
    .card{

 border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    padding-top:0px;
    padding-right:0px;
    text-align: center;
    box-sizing: border-box;
 }

 .Btn-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color:  rgb(58, 4, 139);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(140, 32, 212);
  transition-duration: .3s;
  margin-top:110px;
  margin-left: 20px;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn-7:hover {
  color: transparent;
}

.Btn-7:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn-7:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

</style>
<a href="{% url 'update_user'%}">
    <button class="Btn-7">Edit
      <svg class="svg" viewBox="0 0 512 512">
        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
    </button>
</a>



<div class="cards">

  {% for item in items%}
  {% if request.user == item.creator %}
       <div class="card" style="width: 18rem;">
           <img src="{{item.image.url }}" class="card-img-top" alt="..." style="width: 17rem; height:250px;   object-fit: cover;">


  <div class="card-body">
    <h5 class="card-title" >{{item.name}}</h5>
    <p class="card-text">{{item.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{item.price}}</li>
    <li class="list-group-item">Size: {{item.size}} </li>
  </ul>
  <div class="card-body-2">

    <a href="{% url 'about'  item.id %}" class="card-link"> <button type="button" class="btn btn-primary" style="background-color: rgb(62, 22, 172) ; border: none;"> See More</button></a>
     {% if request.user == item.creator%}
      <a href="{% url 'delete_item' item.id %}" class="card-link"> <button type="button" class="btn btn-primary" style="background-color: rgb(62, 22, 172) ; border: none;"> Delete </button></a>
    {% endif %}
  </div>
       </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}