{% extends 'main.html'%}


{% block content %}

<style>


.main-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(17, 1, 59);
     margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 6px 10px rgba(0, 0, 0, 0.2);

 }

#title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.form-cont {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}

.field label {
    width: 100px; /* Set a fixed width for labels */
    margin-left: 80px;
    margin-right: 10px;
    color: white;
     font-family: Arial, sans-serif;
}

.field input,
.field select,
.field textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 80px;
}

.field input[type="file"] {
    padding: 3px; /* Adjust padding for file input */
    margin-left: 80px;
}

.field textarea {
    height: 100px; /* Set a height for the textarea */
    resize: vertical;
}
.reg-sub{
  align-self: center;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(219, 219, 219);
  color: rgb(33,4,114);
  cursor: pointer;
  width: 150px;
  box-shadow: 5px 10px black ;
}
.reg-sub:hover{
box-shadow: none;
color:  white;
background-color: rgb(33,4,114);
}
</style>

   <div class="main-container">
       <h1 id="title" > Add Item:  </h1>
       <form  action="" method="POST" enctype="multipart/form-data" class="form-cont">
           {% csrf_token %}
            <div class="field">
            <label> Image: </label>
            {{form.image}}
        </div>

        <div class="field">
            <label> Item Name: </label>
            {{form.name}}
        </div>
        <div class="field">
            <label> Price: </label>
            {{form.price}}
        </div>
        <div class="field">
            <label> Size: </label>
            {{form.size}}
        </div>
        <div class="field">
            <label for = "item_colour"> Colour: </label>
            {{form.colour}}
        </div>
        <div class="field">
            <label> Category: </label>
            {{form.subcat}}
        </div>
        <div class="field">
            <label> Description: </label>
            {{form.description}}
        </div>
           <button class="reg-sub" type="submit"> Create </button>
       </form>

   </div>



{% endblock %}