{% extends 'main.html'%}
{% block content %}
<style>
.form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: rgb(17, 1, 59);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 50px 50px -50px rgba(27, 26, 26, 0.315);
  margin-left: 400px;
  margin-top: 30px;
}

.form .title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;

}
.form h6{
display: flex;
align-self: flex-start;
}

.form button {
  align-self: center;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color:  rgb(219, 219, 219);
  color: rgb(33,4,114);
  cursor: pointer;
}
.form input {
border-radius: 5px;
}
.form textarea {
border-radius: 5px;
}
</style>

<form class="form" method="POST">
    {% csrf_token %}
    <div class="title">Contact us</div>
     <h6 style="color:white"> Your Email: </h6>
    {{form.user_email}}
     <h6 style="color:white"> Your Message: </h6>
    {{form.message}}

    <button type="submit">Submit</button>
</form>
{% endblock %}