{% extends 'main.html'%}
{% block title %} <title> Home page </title> {% endblock %}
{% block content%}
{% load static %}
{% include 'mininav.html' %}
  <style>


  </style>
<div class="cards">
  {% for item in items%}

       <div class="card" style="width: 18rem;">
  <img src="{% static 'images/logo.png'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" >{{item.name}}</h5>
    <p class="card-text">{{item.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{item.price}}</li>
    <li class="list-group-item">Size: {{item.size}} </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link"> <button type="button" class="btn btn-primary" style="background-color: rgb(62, 22, 172) ; border: none;"> See More</button></a>
  </div>
       </div>
  {% endfor %}
</div>


   {%endblock%}
