{% extends 'main.html'%}
{% block title %} <title> Home page </title> {% endblock %}
{% block content%}
{% load static %}


 <section class="slider_section ">

            <div class="slider_bg_box">
               <img src="{% static 'images/slider-1.jpg'%}" alt="">
            </div>
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-s">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <h1>
                                    <span>
                                    Give clothes
                                    </span>
                                    <br>
                                    Second chance
                                 </h1>
                                 <p>
                                    Thrifting: unique finds, eco-friendly, budget-friendly!
                                    Discover hidden gems & reduce waste – all on one treasure hunt.
                                 </p>
                                 <div class="btn-box">
                                    <a href="{% url 'product' %}" class="btn1">
                                    Shop Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                   <div class="carousel-item ">
                     <div class="container-s ">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <h1>
                                    <span>
                                    Unearth
                                    </span>
                                    <br>
                                    hidden treasures.

                                 </h1>
                                 <p>
                                    Find vintage gems, handcrafted wonders, and unexpected delights.
                                    Unleash your unique style with a treasure hunt for the extraordinary.
                                 </p>
                                 <div class="btn-box">
                                    <a href="{% url 'product'%}" class="btn1">

                                    Shop Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="carousel-item ">

                     <div class="container-s">
                        <div class="row">
                           <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                 <h1>
                                    <span>
                                    Thrift it.
                                    </span>
                                    <br>
                                     Save the planet.
                                 </h1>
                                 <p>
                                    Give clothes a second life! Thrifting reduces landfill waste, lowers carbon footprint & saves precious resources.
                                    Be kind to the planet, one find at a time.
                                 </p>
                                 <div class="btn-box" >
                                    <a href="{% url 'product' %}" ccdlass="btn1" >
                                    Shop Now
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container">
                  <ol class="carousel-indicators">
                     <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                     <li data-target="#customCarousel1" data-slide-to="1"></li>
                     <li data-target="#customCarousel1" data-slide-to="2"></li>
                  </ol>
               </div>
            </div>
         </section>
{% if not request.user.is_authenticated %}
      <!-- why section -->
      <section class="why_section layout_padding" style="align-self:center">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Why Shop With Us
               </h2>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
  <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5m2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5"/>
</svg>
</div>
                     <div class="detail-box">

                        <h5>
                           Wide Choice
                        </h5>
                        <p>
                           Many online stores collected together
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
  <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5"/>
</svg>
                     </div>
                     <div class="detail-box">
                        <h5>
                           convenience
                        </h5>
                        <p>
                           You can see available items without going to stores
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box ">
                     <div class="img-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
  <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
</svg>
                     </div>
                     <div class="detail-box">
                        <h5>
                           Unique Finds
                        </h5>
                        <p>
                           Discover hidden gem thrift stores and items.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endif %}
<!-- end why section -->
{% if request.user.is_authenticated%}
<a href="{%url 'add'%}" style="text-decoration:none">
   <button class="cssbuttons-io-button">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
  <span>Add</span>
</button>
</a>

{% endif %}
 {% with item_count=items|length %}
                {% if item_count > 6%}
<section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>products</span>
               </h2>
            </div>
            <div class="row">
                {% for item in items|slice:":6" %}
               <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a  href="{% url 'about'  item.id %}" class="option1">
                           See details
                           </a>
                            {% if request.user.is_authenticated %}
                               {% if item not in request.user.items.all %}
                           <a  href=" {% url 'adding' item.id %}" class="option2">
                           Add to favourites
                           </a>
                             {% endif %}
                               {% endif %}
                        </div>
                     </div>
                     <div class="img-box">
                        <img  src="{{item.image.url }}" alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           {{item.name}}
                        </h5>

                        <h6>
                           {{item.price}}
                        </h6>
                     </div>
                  </div>
               </div>

           {% endfor %}
                {%else%}
                {% include 'base/products.html'%}
                {%endif%}
                {%endwith%}
              </div>
          </div>
        </section>

<section class="product_section layout_padding">
         <div class="btn-box">
               <a href="{% url 'product'%}">
               View All products
               </a>
    </div>
        </section>

   {%endblock%}
