{% extends 'main.html'%}
{% block title%} <title> Log In </title> {%endblock%}
{% block content %}
   <style>
       .main-container{
       margin-top:120px;
       margin-left:20px
       }
   </style>

<!--? login code\-->
    <div class="main-container">
        <form method="POST" action="">
            {% csrf_token %}
            <h1>Log In:</h1>
            {% if messages %}
                <ul class="messages" style="">
                    {%for message in messages%}
                    <li>{{message}}</li>
                     {% endfor %}
                </ul>
            {% endif %}
             <label> Username: </label>
            <br>
            <input type="text" name="username" placeholder="Enter user">
            <br>
             <label> Password: </label>
            <br>
            <input type="password" name="password" placeholder="Enter password">
            <br>
            <input type="submit" value="Log In " style="margin-top:5px">
             <br>
            <hr>
            <p> Have not signed up yet? </p>
            <a href="{% url 'register' %}"> Register </a>
        </form>
    </div>


{% endblock %}